:root {
    /* color */
    --color-blue: #045fd4;
    --color-yellow: #ffff00;
    --color-pink: #ff76edf6;
    --color-bg: #808080;
    --color-item-bg: #f5f5dc;
    --color-nav-menu:#d49466;

    /* font size */
    --font-size-large: 18px;
    --font-size-smale: 10px;

    /* icon size */
    --icon-size-logo: 50px;
    --icon-size-large: 30px;
    --icon-size-small: 20px;

    /* transform scale */
    --transform-scale-header-btn: 1.15;
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto;
    background-color: var(--color-bg);
}

ul {
    list-style: none;
    padding-left: 0;
}

/* header */
.wrap .header .header_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(var(--icon-size-logo)*3);
    /* background-color: var(--color-bg); */
}

.wrap .header .header_logo i {
    font-size: var(--icon-size-logo);
    color:paleturquoise;
}

.wrap .header .header_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color:var(--color-bg); */
}

.wrap .header .header_menu .select_cloth_type {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.wrap .header .header_menu .select_color {
    justify-content: space-between;
}

.wrap .header .header_menu button {
    width: 150px;
    border: 0px;
    border-radius: 4px;
    font-size: var(--icon-size-small);
    background-color: var(--color-nav-menu);
    margin: 10px;
    padding: 5px;
}

.wrap .header .header_menu button.shirtBtn,
.wrap .header .header_menu button.socksBtn,
.wrap .header .header_menu button.mittenBtn {
    background-color: transparent;
    font-size: var(--icon-size-large);
}

.wrap .header .header_menu button i.fa-shirt {
    color: var(--color-blue);
}

.wrap .header .header_menu button i.fa-socks {
    color: var(--color-yellow);
}

.wrap .header .header_menu button i.fa-mitten {
    color: var(--color-pink);
}

.wrap .header .header_menu button.blueBtn {
    background-color: var(--color-blue);
}

.wrap .header .header_menu button.yellowBtn {
    background-color: var(--color-yellow);
}

.wrap .header .header_menu button.pinkBtn {
    background-color: var(--color-pink);
}

.wrap .header .header_menu button:hover {
    transform: scale(var(--transform-scale-header-btn));
}

.item_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg);
    margin-top: 20px;
}

.item_list ul .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--color-item-bg);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 20px;
    width: 300px;
}

.item_list .item i {
    font-size: var(--icon-size-small);
    /* width: var(--icon-size-small); */
    padding-right: 10px;
}
.item_list .item .text {
    /* margin-left: 10px; */
}

.wrap .footer address {
    padding: 20px 20px;
    text-align: right;
    /* float: right; */
}

.wrap .footer select {
    margin: 20px 20px;
    float: right;
}

.wrap .footer address span {
    color:#aaa;
}

@media screen and (max-width: 535px) {
    .wrap .header {
        transform: scale(0.8);
    }
 
    .wrap .header .header_menu .select_cloth_type {
        flex-direction: column;
    }

    .wrap .header .header_menu .select_color {
        flex-direction: column;
    }

    .wrap .header .header_menu .select_sex {
        flex-direction: column;
    }

    .wrap .item_list ul .item {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 7px 20px;
        width: 200px;
        transform: scale(0.8);    
    }
}