:root {
    /* color */
    --color-blue: #045fd4;
    --color-yellow: #ffff00;
    --color-pink: #ff76edf6;
    --color-bg: #808080;
    --color-item-bg: #f5f5dc;
    --color-nav-menu:#d49466;

    /* font size */
    --font-size-large: 18px;
    --font-size-smale: 10px;

    /* icon size */
    --icon-size-logo: 50px;
    --icon-size-large: 30px;
    --icon-size-small: 20px;

    /* transform scale */
    --transform-scale-header-btn: 1.15;
}

html {
    box-sizing: border-box;
    --bgColorMenu : #1d1d27;
    --duration: .7s;    
}

html *,
html *::before,
html *::after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/* * {
    padding: 0;
    margin: 0;
} */

body {
    font-family: Roboto;
    background-color: var(--color-bg);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* body{
    margin: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background-color: #ffb457;
    -webkit-tap-highlight-color: transparent;
    transition: background-color var(--duration);
} */

ul {
    list-style: none;
    padding-left: 0;
}

/* header */
.wrap .header .header_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: calc(var(--icon-size-logo)*3);
    /* background-color: var(--color-bg); */
}

.wrap .header .header_logo i {
    font-size: var(--icon-size-logo);
    color:paleturquoise;
}

.wrap .header .header_menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-color:var(--color-bg); */
}

.wrap .header .header_menu .select_cloth_type {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.wrap .header .header_menu .select_color,
.wrap .header .header_menu .select_gender {
    display: flex;
    justify-content: space-between;
}

.wrap .header .header_menu button {
    width: 150px;
    border: 0px;
    border-radius: 4px;
    font-size: var(--icon-size-small);
    background-color: var(--color-nav-menu);
    margin: 10px;
    padding: 5px;
}

.wrap .header .header_menu button.shirtBtn,
.wrap .header .header_menu button.socksBtn,
.wrap .header .header_menu button.mittenBtn {
    background-color: transparent;
    font-size: var(--icon-size-large);
}

.wrap .header .header_menu button i.fa-shirt {
    color: var(--color-blue);
}

.wrap .header .header_menu button i.fa-socks {
    color: var(--color-yellow);
}

.wrap .header .header_menu button i.fa-mitten {
    color: var(--color-pink);
}

.wrap .header .header_menu button.blueBtn {
    background-color: var(--color-blue);
}

.wrap .header .header_menu button.yellowBtn {
    background-color: var(--color-yellow);
}

.wrap .header .header_menu button.pinkBtn {
    background-color: var(--color-pink);
}

.wrap .header .header_menu button:hover {
    transform: scale(var(--transform-scale-header-btn));
}

.wrap .item_list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-bg);
    margin-top: 20px;
}

.wrap .item_list ul .item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: var(--color-item-bg);
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 7px 20px;
    width: 300px;
}

.wrap .item_list .item i {
    font-size: var(--icon-size-small);
    /* width: var(--icon-size-small); */
    padding-right: 10px;
}

.wrap .footer address {
    padding: 20px 20px;
    text-align: right;
    /* float: right; */
}

.wrap .footer select {
    margin: 20px 20px;
    float: right;
}

.wrap .footer address span {
    color:#aaa;
}

@media screen and (max-width: 535px) {
    .wrap .header .header_logo i {
        transform: scale(0.8);
    }
 
    .wrap .header .header_menu .select_cloth_type {
        flex-direction: column;
        transform: scale(0.8);
    }

    .wrap .header .header_menu .select_color {
        flex-direction: column;
        transform: scale(0.8);
    }

    .wrap .header .header_menu .select_gender {
        flex-direction: column;
        transform: scale(0.8);
    }

    .wrap .header .header_menu {
        flex-direction: row;
    }

    .wrap .header .header_menu button {
        width: 100px;
        border: 0px;
        border-radius: 4px;
        font-size: var(--icon-size-small);
        background-color: var(--color-nav-menu);
        margin: 3px;
        padding: 5px;
    }

    .wrap .item_list ul .item {
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 7px 20px;
        width: 220px;
        transform: scale(0.8);    
    }
}

.bottom_menu {
    margin: 0;
    display: flex;
    /* Works well with 100% width  */
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 1.5em;
    padding: 0 2.85em;
    
    /* align-items: center; */
    /* justify-content: center; */
    background-color: var(--bgColorMenu);
}

.menu__item{
    all: unset;
    flex-grow: 1;
    z-index: 100;
    display: flex;
    cursor: pointer;
    position: relative;
    border-radius: 50%;
    align-items: center;
    will-change: transform;
    justify-content: center;
    padding: 0.55em 0 0.85em;
    transition: transform var(--timeOut , var(--duration));
}

.menu__item::before{
    content: "";
    z-index: -1;
    width: 4.2em;
    height: 4.2em;
    border-radius: 50%;
    position: absolute;
    transform: scale(0);
    transition: background-color var(--duration), transform var(--duration);
}


.menu__item.active {
    transform: translate3d(0, -.8em , 0);
}

.menu__item.active::before{
    transform: scale(1);
    background-color: var(--bgColorItem);
}

.icon{
    width: 2.6em;
    height: 2.6em;
    stroke: #33ff00f6;
    fill: transparent;
    stroke-width: 1.0pt;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 400;
}

.menu__item.active .icon {
    animation: strok 1.5s reverse;
}

@keyframes strok {
    100% {
        stroke-dashoffset: 400;
    }
}

.menu__border{
    left: 0;
    bottom: 99%;
    width: 10.9em;
    height: 2.4em;
    position: absolute;
    clip-path: url(#menu_moving_box);
    will-change: transform;
    background-color: var(--bgColorMenu);
    transition: transform var(--timeOut , var(--duration));
}

.svg-container {
    width: 0;
    height: 0;
}


@media screen and (max-width: 50em) {
    .bottom_menu{
        font-size: .8em;
    }
}